<div class="card-top container-fluid">
 <div class="container d-flex">
 	<div class="item">
 	 <a>
 	 	<img src="https://rukminim1.flixcart.com/image/312/312/k9loccw0/mobile/p/z/q/apple-iphone-se-mxd02hn-a-original-imafrcpjfehbbqgb.jpeg?q=70" />
 	 	<h6>SE 1</h6>
 	 </a>	
 	</div>
 	<div class="item">
 	 <a>
 	 	<img src="https://rukminim1.flixcart.com/image/312/312/k9loccw0/mobile/6/8/g/apple-iphone-se-mxvv2hn-a-original-imafrcqmfxhcrpsb.jpeg?q=70" />
 	 	<h6>SE 2</h6>
 	 </a>	
 	</div>
 	<div class="item">
 	 <a>
 	 	<img src="https://rukminim1.flixcart.com/image/312/312/k9loccw0/mobile/6/b/z/apple-iphone-se-mxd12hn-a-original-imafrcqfsuzwa3dz.jpeg?q=70" />
 	 	<h6>SE 3</h6>
 	 </a>	
 	</div>
 	<div class="item">
 	 <a>
 	 	<img src="https://rukminim1.flixcart.com/image/312/312/k9loccw0/mobile/p/z/q/apple-iphone-se-mxd02hn-a-original-imafrcpjfehbbqgb.jpeg?q=70" />
 	 	<h6>SE 4</h6>
 	 </a>	
 	</div>
 </div>
</div>
